*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f8f8f8;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#fff;
}

.logo{
    font-size:24px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:20px;
}

.nav-links a{
    text-decoration:none;
    color:#333;
}

.btn{
    padding:10px 20px;
    border:none;
    background:#000;
    color:#fff;
    cursor:pointer;
    border-radius:5px;
}

.hero{
    height:80vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:#e9ecef;
}

.hero h1{
    font-size:48px;
    margin-bottom:15px;
}

.hero p{
    margin-bottom:20px;
}

.products{
    padding:60px 8%;
}

.products h2{
    text-align:center;
    margin-bottom:30px;
}

.product-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

.card{
    background:white;
    padding:20px;
    border-radius:10px;
    text-align:center;
}

.card img{
    width:100%;
    border-radius:10px;
}

.card h3{
    margin:15px 0;
}

footer{
    text-align:center;
    padding:20px;
    background:#222;
    color:white;
}